.content{
    text-align: center;
    margin: 10px;
}

.titulo{
    font-family: Verdana;
    font-weight: bolder;
    font-size: 30px;
    color: black;
}

.titulo-xs{
    font-family: Verdana;
    font-weight: bolder;
    font-size: 25px;
    color: black;
}

.texto{
    font-family: Verdana;
    font-weight: inherit;
    font-size: 15px;
    color: gray;
}

.texto-xs{
    font-family: Verdana;
    font-weight: inherit;
    font-size: 10px;
    color: gray;
}

