<div [fxFlex]="75" [fxFlex.xs]="70" class="content">
  <img src="/assets/images/lubrifrenos.jpg" class="logo"/>
</div>
<div div [fxFlex]="25" class="content" [fxFlex.xs]="30" >
    <div [fxFlex]="90" [fxFlex.xs]="80" [ngClass.gt-xs]="'menu'" [ngClass.xs]="'menu-xs'">
      HOME / INICIAR SESIÓN
    </div>
        
    <div [fxFlex]="5" [fxFlex.xs]="10" [ngClass.gt-xs]="'pagos'" [ngClass.xs]="'pagos-xs'" >
    1
    </div>

    <div [fxFlex]="5" [fxFlex.xs]="10" [ngClass.gt-xs]="'cobros'" [ngClass.xs]="'cobros-xs'">
    3
    </div>
</div>