.container {    
    .header {
        background: rgb(21, 67, 96);
        
    }
    .content{
        background: rgb(232, 241, 241);
    }
    .footer{
        background: rgb(21, 67, 96);
    }
}