<div fxLayout="column" fxFlexFill class="container">

    <app-header [fxFlex]="35" 
                class="header" 
                [fxFlex.xs]="20" 
                fxLayout="column" 
                fxLayout.xs="column">
    </app-header>
  
    <app-content [fxFlex]="55" 
                 class="content"
                 [fxFlex.xs]="70" 
                 fxLayout="column" 
                 fxLayout.xs="column">
      <router-outlet></router-outlet>
    </app-content>
      
    <app-footer [fxFlex]="10" 
                class="footer" 
                [fxFlex.xs]="10" >      
    </app-footer>
  </div>